.projectWrapper {
  position: relative;
  width: 95%;
  height: 95vh;
  background-color: var(--main-theme-darker);
  border-radius: 40px;
  margin-top: 5%;
  overflow: hidden;
}
/* descriptions */
.mainDesc {
  position: absolute;
  width: 65%;
  height: 60%;
  left: 1vw;
  top: 20%;
  color: rgb(255, 255, 255);
  opacity: 1;
  font-size: 3.5vw;
  letter-spacing: 0.05ch;
  word-spacing: 0.2rem;
  font-family: "Neue Montreal Book";
  mix-blend-mode: difference;
  transition: 100ms opacity ease-out;
}
.outOfView {
  opacity: 0.3 !important;
}
/* imgs */
.images {
  position: absolute;
  bottom: 5vh;
  left: 35%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  transition: 100ms opacity ease-out;
}
.img {
  height: 25vh;
  width: 25vw;
}
.img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  user-select: none;
  -webkit-user-drag: none;
}
/* btn styles */
.linkBtn {
  position: absolute;
  bottom: 10vh;
  right: 2.5vw;
  text-decoration: none;
  font-family: "Neue Montreal Book";
  font-size: 3vw;
}
.button {
  opacity: 1;
  position: relative;
  padding: 15px;
  min-width: 175px;
  width: 25vw;
  min-height: 30px;
  border: 1px solid black;
  border-radius: 40px;
  background-color: whitesmoke;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms opacity ease-out;
}
.hoverFill {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  pointer-events: none;
  transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}
.button:hover > .hoverFill {
  transform: translateX(0);
}
.btnHeading {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: whitesmoke;
  letter-spacing: 0.2ch;
}

/* side section */
.sideSection {
  position: absolute;
  right: 0;
  top: 17%;
  height: 70%;
  max-height: 350px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.heading {
  font-size: 4vw;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-family: "Acma Light";
}
.arrow {
  height: 10px;
  aspect-ratio: 1/1;
  margin-left: 2vw;
  transform: translateY(-30%);
}
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  font-family: "NikkeiMaru Light";
}
.listItem {
  font-size: 1.5rem;
  color: #ff723a;
}
.techStack {
  display: flex;
  flex-wrap: wrap;
}
.sourceCode {
  position: absolute;
  left: 0;
  top: 40%;
  font-size: 3vw;
  padding: 5%;
  margin-top: 10%;
  font-family: "NikkeiMaru Light";
  color: black;
  text-decoration: none;
  background-color: #ff723a;
  border-radius: 40px;
  border: 1px solid black;
}

@media (max-width: 868px) {
  .mainDesc {
    top: 12%;
    left: 2vw;
    width: 60%;
    font-size: 4.8vw;
  }
  /* images */
  .imagesBoth {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 1%;
    gap: 1vh;
  }
  .imagesBttm,
  .imagesSide {
    position: relative;
    flex-direction: row;
    left: 0;
    top: 0;
    gap: 1vh;
  }
  .img {
    height: 20vh;
    width: 30vw;
  }

  /* side content */
  .heading {
    font-size: 5vw;
  }
  .listItem {
    font-size: 3vw;
  }
}
@media (max-width: 612px) {
  .mainDesc {
    font-size: 6vw;
  }
  .images {
    left: 50%;
    bottom: 10vh;
  }
  .img {
    height: 15vh;
    width: 42vw;
  }
  .linkBtn {
    bottom: 10px;
    left: 35%;
  }

  /* side */
  .heading {
    font-size: 7vw;
  }
  .listItem {
    font-size: 4vw;
  }
}
