.projectWrapper {
  position: relative;
  width: 95%;
  height: 95vh;
  background-color: var(--main-theme-darker);
  border-radius: 40px;
  margin-top: 5%;
  overflow: hidden;
}
/* descriptions */
.mainDesc {
  position: absolute;
  width: 65%;
  height: 60%;
  left: 2.5%;
  top: 20%;
  color: aliceblue;
  font-size: 3vw;
  letter-spacing: 0.05ch;
  word-spacing: 0.2rem;
  font-family: "Neue Montreal Book";
  mix-blend-mode: difference;
}
.outOfView {
  color: var(--dark-green) !important;
}
/* imgs */
.imagesSide,
.imagesBttm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagesSide {
  position: absolute;
  right: 20px;
  top: 10%;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  gap: 4vh;
}
.imagesBttm {
  position: absolute;
  left: 5%;
  bottom: 5%;
  width: fit-content;
  height: fit-content;
  gap: 4vw;
}
.img {
  height: 25vh;
  width: 25vw;
}
.img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  user-select: none;
  -webkit-user-drag: none;
}
/* btn styles */
.linkBtn {
  position: absolute;
  bottom: 10vh;
  right: 2.5vw;
  text-decoration: none;
  font-family: "Neue Montreal Book";
  font-size: 2.5vw;
}
.button {
  position: relative;
  padding: 15px;
  min-width: 175px;
  width: 25vw;
  min-height: 30px;
  border: 1px solid black;
  border-radius: 40px;
  background-color: whitesmoke;
  overflow: hidden;
}
.hoverFill {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  pointer-events: none;
  transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
}
.button:hover > .hoverFill {
  transform: translateX(0);
}
.btnHeading {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: whitesmoke;
  letter-spacing: 0.2ch;
}
@media (max-width: 868px) {
  .mainDesc {
    top: 10%;
    left: 10%;
    width: 80%;
    /* background-color: aqua; */
    font-size: 4.5vw;
  }
  /* images */
  .imagesBoth {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 1%;
    gap: 1vh;
  }
  .imagesBttm,
  .imagesSide {
    position: relative;
    flex-direction: row;
    left: 0;
    top: 0;
    gap: 1vh;
  }
  .img {
    height: 150px;
    width: 250px;
  }
}
@media (max-width: 612px) {
  .mainDesc {
    font-size: 6.5vw;
  }
  .imagesBoth {
    position: absolute;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    width: 100%;
    height: 50%;
    gap: 1vh;
  }
  .imagesBttm,
  .imagesSide {
    position: relative;
    flex-direction: row;
    left: 0;
    top: 0;
    gap: 1vh;
  }
  .img {
    height: 15vh;
    width: 42vw;
  }
  .linkBtn {
    bottom: 10px;
    left: 35%;
  }
}
