.carouselWrapper {
  position: relative;
  z-index: 10;
  /* top: 1vh; */
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.carouselItem {
  font-family: "Jubilee Diamond";
  font-size: 100%;
  white-space: nowrap;
  position: relative;
  user-select: none;
  letter-spacing: 0.1ch;
  mix-blend-mode: difference;
}
@media (max-width: 820px) {
  .carouselItem {
    font-size: 150%;
  }
}
