.headingWrapper {
  position: relative;
  width: fit-content;
  overflow: hidden;
}
.heading {
  font-size: 18vmin;
  display: flex;
  flex-wrap: wrap;
  font-family: "Neue Montreal Book";
  color: black;
}
