.titleWrapper {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.title {
  font-size: 164px;
  display: flex;
  flex-wrap: wrap;
  transition: transform 800ms cubic-bezier(0.16, 1, 0.3, 1),
    opacity 800ms ease-out, font-size 250ms ease-out;
  font-family: "Fuji Bold";
  letter-spacing: 0.4rem;
  margin-right: 20px;
  white-space: nowrap;
}
.title:nth-of-type(2) {
  transform: translateY(100%);
  position: absolute;
  opacity: 0;
  color: var(--dark-green);
}
.titleWrapper:hover > .title {
  transform: translateY(-100%);
}
.titleWrapper:hover > .title:nth-of-type(2) {
  transform: translateY(0%) !important;
  opacity: 1;
}
@media (max-width: 1278px) {
  .title {
    font-size: 134px;
  }
}
@media (max-width: 1096px) {
  .title {
    font-size: 98px;
  }
}
@media (max-width: 784px) {
  .title {
    font-size: 72px;
  }
}
@media (max-width: 596px) {
  .title {
    font-size: 11vmin;
  }
}
