.body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15vh;
  padding-left: 5px;
}
.link {
  text-decoration: none;
  color: var(--text-cream);
  font-size: 48px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: "Telegraf Regular";
}

p {
  margin: 0px;
  display: flex;
  overflow: hidden;
}
.title {
  display: inline-block;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  transform: scaleY(0);
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-cream);
  transition: transform 250ms cubic-bezier(0.87, 0, 0.13, 1);
}
.title:hover::after {
  opacity: 1;
  transform: scaleY(1);
}
