.contactPage {
  position: absolute;
  top: var(--header-height);
  left: 0;
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: var(--main-theme);
  z-index: -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactTitle {
  position: relative;
  color: var(--text-cream);
  font-size: 244px;
  font-family: "Fuji Bold";
  display: flex;
  flex-direction: row;
  transition: font-size 250ms ease-out;
  user-select: none;
}
.ltrWrapper {
  overflow: hidden;
}
.letter {
  display: inline-block;
}
.bio {
  position: relative;
  margin-top: 5vh;
  font-family: "Editorial Old Regular";
  font-size: 2rem;
}
.bioMessage {
  color: var(--bright-red);
}
.bioHover {
  width: 100%;
  background-color: var(--main-theme-shadow);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 500ms ease-out;
}
.bio:hover > .bioHover {
  transform: scaleX(1);
}
.linksWrapper {
  position: relative;
  top: 15vmin;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}
@media (max-width: 874px) {
  .contactTitle {
    font-size: 184px;
  }
}
@media (max-width: 654px) {
  .contactTitle {
    font-size: 144px;
  }
}
@media (max-width: 520px) {
  .contactTitle {
    font-size: 98px;
  }
}
@media (max-width: 354px) {
  .contactTitle {
    font-size: 25vw;
  }
}
