.contactPage {
  position: absolute;
  height: 100vh;
  left: 0;
  width: 100%;
  background-color: #f3f9f9;
  z-index: -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.phrasesPosition {
  position: absolute;
  bottom: 5vmin;
}
.textFlex {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.text1Wrapper {
  width: 45vw;
  left: 25vw;
  bottom: 15vh;
}
.textWrapper {
  position: relative;
  display: grid;
  place-items: center;
}
.word {
  display: inline-block;
  margin-right: 0.6rem;
}
.textInner {
  font-size: 5vw;
  font-family: "Neue Montreal Book";
  text-decoration: none;
  color: var(--dark-green);
  letter-spacing: -0.1rem;
}
.text2Wrapper {
  top: 5vh;
  right: 12vw;
}
.email {
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  white-space: nowrap;
}
.email:hover::after {
  transform: scaleX(1);
}
.email::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  transform: scaleX(0);
  width: 80%;
  height: 2px;
  background-color: black;
  transition: 250ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
}
.email:hover {
  transform: scale(1.05);
}

@media (max-width: 924px) {
  .text2Wrapper {
    bottom: 20vh;
  }
  .text1Wrapper {
    left: 0px;
    bottom: 0px;
  }
  .text2Wrapper {
    top: 0px;
    right: 0px;
  }
  .text1Wrapper > .textInner {
    font-size: 10.5vw;
  }
  .text2Wrapper > .textInner {
    font-size: 7.2vw;
  }
  .textFlex {
    gap: 9vh;
  }
  .email::after {
    transform: scaleX(1);
  }
}
