.contactPage {
  position: absolute;
  top: var(--header-height);
  left: 0;
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: var(--main-theme);
  z-index: -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactTitle {
  position: relative;
  color: var(--bright-red);
  font-size: 244px;
  font-family: "Fuji Bold";
  display: flex;
  flex-direction: row;
  transition: font-size 250ms ease-out;
  user-select: none;
}
.ltrWrapper {
  overflow: hidden;
}
.letter {
  display: inline-block;
}
.linksWrapper {
  position: relative;
  top: 15vmin;
}
@media (max-width: 874px) {
  .contactTitle {
    font-size: 184px;
  }
}
@media (max-width: 654px) {
  .contactTitle {
    font-size: 144px;
  }
}
@media (max-width: 520px) {
  .contactTitle {
    font-size: 98px;
  }
}
@media (max-width: 354px) {
  .contactTitle {
    font-size: 25vw;
  }
}
