.introWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: row;
}
.introSection {
  width: 25%;
  height: 100%;
  background-color: bisque;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
