.introWrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.introSection {
  width: 25%;
  height: 100%;
  /* background-color: bisque; */
  border-right: 1px solid rgba(175, 208, 214, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
