.page {
  height: 100vh;
  width: 100vw;
  background-color: var(--bright-red);
  display: grid;
  place-items: center;
}
.mainTitle {
  font-family: "Neue Montreal Book";
  font-size: 144px;
  position: fixed;
  z-index: 100;
  letter-spacing: 8vw;
  color: var(--charcoal);
}
.mouseTitle {
  font-family: "Neue Montreal Book";
  font-size: 100px;
  position: absolute;
  width: 100%;
  text-align: center;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  color: var(--charcoal);
}
