.page {
  height: 100vh;
  position: relative;
  width: 100vw;
  background-color: var(--bright-red);
  display: grid;
  place-items: center;
  z-index: -1;
}
.mainTitle {
  font-family: "Neue Montreal Book";
  font-size: 144px;
  position: fixed;
  z-index: 100;
  letter-spacing: 8vw;
  color: var(--charcoal);
}
.mainTitle > span {
  display: inline-block;
}
.mouseTitle {
  font-family: "Neue Montreal Book";
  font-size: 100px;
  position: absolute;
  width: 100%;
  text-align: center;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  color: var(--charcoal);
  transition: font-size 500ms ease-out;
}

@media (max-width: 670px) {
  .mainTitle {
    bottom: 10vh;
  }
  .mouseTitle {
    font-size: 10vw;
  }
}
