* {
  box-sizing: border-box;
}
:root {
  --header-height: 50px;
  --nav-menu-height: 400px;
  /* colors */
  --light-brown: rgb(231, 213, 193);
  --vdark-blue: rgb(19, 33, 49);
  --charcoal: rgb(66, 74, 83);
}
@font-face {
  font-family: "Right Serif Mono Regular";
  src: url("../fonts/PPRightSerifMono-Regular.otf");
}
@font-face {
  font-family: "Right Serif Mono Dark";
  src: url("../fonts/PPRightSerifMono-Dark.otf");
}
@font-face {
  font-family: "Telegraf-Regular";
  src: url("../fonts/PPTelegraf-Regular.otf");
}
@font-face {
  font-family: "Pangram Sans Medium";
  src: url("../fonts/PPPangramSans-CompressedMediumReclined.otf");
}
body {
  margin: 0;
  padding: 0;
}
