* {
  box-sizing: border-box;
}
:root {
  --header-height: 60px;
  --nav-menu-height: 400px;
  /* colours */
  --main-theme: #ffffff;
  --main-theme-darker: #c6d7e5;
  --light-blue: #f3f9f9;
  --text-cream: #3f81fc;
  --charcoal: #fff642;
  --coffee: #a3c0f5;
  --bright-red: #9a2026;
  --dark-green: #312809;
  --orange: #ffbb6e;
  --pink: #e0858e;
  --peach: #f0c7ae;

  /* sizes 
    768px - mobile;
    
  */
}
::selection {
  color: var(--charcoal);
  background-color: black;
}
@font-face {
  font-family: "Telegraf Regular";
  src: url("../fonts/PPTelegraf-Regular.otf");
}
@font-face {
  font-family: "Neue Montreal Italic";
  src: url("../fonts/NeueMontreal/PPNeueMontreal-Italic.otf");
}
@font-face {
  font-family: "Neue Montreal Book";
  src: url("../fonts/NeueMontreal/PPNeueMontreal-Book.otf");
}
@font-face {
  font-family: "NikkeiMaru Light";
  src: url("../fonts/PPNikkeiMaru-Light.otf");
}
@font-face {
  font-family: "Jubilee Diamond";
  src: url(../fonts/OTJubilee-Diamond.otf);
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

/* lenis scrolling */
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}

.garnishContainer {
  /* width: 45%; */
  height: 75vh;
  width: calc(50vw * 0.95);
  overflow: hidden;
  border: 3px solid rgb(0, 29, 61);
  /* background: rgb(255, 231, 203); */

  position: absolute;
  left: 1%;
  bottom: 12.5%;
  z-index: 101;
}

@media (max-width: 820px) {
  .garnishContainer {
    width: calc(100vw * 0.9);
    height: 50%;
    top: 5%;
    left: 5vw;
  }
}
