* {
  box-sizing: border-box;
}
:root {
  --header-height: 60px;
  --nav-menu-height: 400px;
  /* colours */
  --main-theme: #ffffff;
  --main-theme-darker: #c6d7e5;
  --light-blue: #f3f9f9;
  --text-cream: #3f81fc;
  --charcoal: #fff642;
  --coffee: #a3c0f5;
  --bright-red: #9a2026;
  --dark-green: #312809;
  --orange: #ffbb6e;
  --pink: #e8a2a9;

  /* sizes 
    768px - mobile;
    
  */
}
::selection {
  color: var(--charcoal);
  background-color: black;
}
@font-face {
  font-family: "Right Serif Mono Regular";
  src: url("../fonts/PPRightSerifMono-Regular.otf");
}
@font-face {
  font-family: "Right Serif Mono Dark";
  src: url("../fonts/PPRightSerifMono-Dark.otf");
}
@font-face {
  font-family: "Telegraf Regular";
  src: url("../fonts/PPTelegraf-Regular.otf");
}
@font-face {
  font-family: "Pangram Sans Medium";
  src: url("../fonts/PPPangramSans-CompressedMediumReclined.otf");
}
@font-face {
  font-family: "Editorial Old Regular";
  src: url("../fonts/EditorialOld/PPEditorialOld-Regular.otf");
}
@font-face {
  font-family: "Editorial Old Ultralight";
  src: url("../fonts/EditorialOld/PPEditorialOld-Ultralight.otf");
}
@font-face {
  font-family: "Editorial Old Italic";
  src: url("../fonts/EditorialOld/PPEditorialOld-Italic.otf");
}
@font-face {
  font-family: "Acma Light";
  src: url("../fonts/PPAcma-Light.otf");
}
@font-face {
  font-family: "Pangaia Medium";
  src: url("../fonts/PPPangaia-Medium.otf");
}
@font-face {
  font-family: "Fuji Bold";
  src: url("../fonts/PPFuji-Bold.otf");
}
@font-face {
  font-family: "Neue Montreal Italic";
  src: url("../fonts/NeueMontreal/PPNeueMontreal-Italic.otf");
}
@font-face {
  font-family: "Neue Montreal Book";
  src: url("../fonts/NeueMontreal/PPNeueMontreal-Book.otf");
}
@font-face {
  font-family: "NikkeiMaru Light";
  src: url("../fonts/PPNikkeiMaru-Light.otf");
}
@font-face {
  font-family: "Jubilee Diamond";
  src: url(../fonts/OTJubilee-Diamond.otf);
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

/* lenis scrolling */
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
