.wrapper {
  white-space: nowrap;
  z-index: 20;
  color: var(--text-cream);
}
.phrase {
  font-family: "Telegraf Regular";
  font-size: 1.2rem;
  opacity: 0;
}
@media (max-width: 748px) {
  .phrase {
    font-size: 1rem;
  }
}
@media (max-width: 654px) {
  .phrase {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  .wrapper {
    display: none;
  }
}
