.textWrapper {
  width: 30vw;
  height: fit-content;
  letter-spacing: 0.05rem;
  font-family: "Neue Montreal Book";
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.wordWrapper {
  overflow: hidden;
}
.word {
  margin-right: 1vmin;
  display: inline-block;
  color: var(--dark-green);
}
.hoverWord {
  font-family: "Pangaia Medium" !important;
}
@media (max-width: 924px) {
  .textWrapper {
    width: 75vw;
  }
}
