.homepage {
  position: absolute;
  left: 0;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  width: 100vw;
  background-color: var(--light-brown);
  z-index: -1;
  display: flex;
  flex-direction: column;
}
.titleWrapper {
  position: relative;
  left: 15vmin;
  /* background-color: aqua; */
  text-align: start;
  width: 75vw;
}
.title {
  font-family: "Editorial Old Regular";
  font-size: 70px;
  transition: font-size 200ms ease-in-out;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  /* background-color: cadetblue; */
}
.wordWrapper {
  margin-right: 1.7vmin;
  height: fit-content;
  /* background-color: aqua; */
  padding: 0%;
  overflow: hidden;
}
.word {
  height: 100%;
  width: 100%;
  letter-spacing: 3px;
  /* background-color: bisque; */
}
@media (max-width: 768px) {
  .title {
    font-size: 55px;
  }
  .word {
    letter-spacing: 2px;
  }
}
@media (max-width: 478px) {
  .title {
    font-size: 36px;
  }
  .wordWrapper {
    margin-right: 1.2vmin;
  }
  .word {
    letter-spacing: 1px;
  }
}
