.homepage {
  position: absolute;
  left: 0;
  height: fit-content;
  width: 100vw;
  background-color: var(--main-theme);
  z-index: -1;
  display: flex;
  flex-direction: column;
}
.pageOne {
  height: 100vh;
  width: 100vw;
  background-color: var(--main-theme);
}
.titleWrapper {
  position: relative;
  top: calc(10vh + var(--header-height));
  left: 15vmin;
  text-align: start;
  width: 75vw;
}
.title {
  font-family: "Editorial Old Ultralight";
  font-size: 70px;
  transition: font-size 200ms ease-in-out;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  color: var(--text-cream);
}
.wordWrapper {
  margin-right: 1.7vmin;
  margin-bottom: 1vmin;
  height: fit-content;
  padding: 0%;
  overflow: hidden;
}
.word {
  height: 100%;
  width: 100%;
  letter-spacing: 3px;
}
.emphasis {
  line-height: 0px;
  margin-right: 0.5vmin;
}
.emphasis::after {
  content: "";
  position: absolute;
  width: 75%;
  transform: scaleX(1);
  height: 2px;
  bottom: 9px;
  left: 12.5%;
  background-color: var(--text-cream);
  line-height: 0;
  transition: 250ms transform ease-in-out;
}
.emphasis:hover::after {
  transform: scaleX(0);
}
.contactWrapper {
  position: relative;
  top: var(--header-height);
  width: fit-content;
  left: 15vmin;
  margin-top: 30vh;
  display: flex;
  gap: 20vmin;
  user-select: none;
}
.reveal {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: var(--main-theme);
  transform-origin: right;
}
.contactTitle {
  font-family: "Pangaia Medium";
  font-size: 25px;
  letter-spacing: 1px;
}
.contactWrapper > a {
  font-size: 20px;
  text-decoration: none;
  font-family: "Acma Light";
  transition: transform 550ms ease-in-out;
  color: var(--text-cream);
}
.contactWrapper > a:hover {
  transform: translateX(5px);
}
.hoveredItalic {
  font-family: "Neue Montreal Italic" !important;
}

/* page 2 */
.pageTwo {
  height: 300vh;
  width: 100vw;
  background-color: var(--main-theme);
}
.projHeadingPos {
  width: 100%;
  display: grid;
  place-items: center;
}
.projects {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-top: solid 3px black;
}
@media (max-width: 768px) {
  .title {
    font-size: 55px;
    font-family: "Editorial Old Regular";
  }
  .word {
    letter-spacing: 2px;
  }
  .contactWrapper {
    flex-direction: column;
    gap: 10px;
    margin-top: 20vh;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 42px;
  }
  .wordWrapper {
    margin-right: 1.2vmin;
  }
  .word {
    letter-spacing: 1px;
  }

  .contactWrapper {
    top: 5vmax;
  }
}
