.page {
  position: relative;
  height: 190vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.pageOne {
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: var(--main-theme);
}
.pageOne > section {
  width: 50%;
  height: 100%;
  position: relative;
}
/* section 1 - about */
.sectionLeft {
  border-right: 1px solid black;
  display: flex;
  align-items: top;
  justify-content: center;
}
.nameTitle {
  position: absolute;
  bottom: 0;
  left: 2%;
  font-size: 8vw;
  font-family: "NikkeiMaru Light";
}
.about {
  margin-top: 5vh;
  width: 60%;
  min-width: 100px;
  font-size: 1.5vw;
  letter-spacing: 0.05vw;
  font-family: "Neue Montreal Book";
  transition: font-size 750ms ease-out;
}
/* section 2 - projects */
.sectionRight {
  position: relative;
}
.projects {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 95%;
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
}
.projectTitle {
  font-size: 2vw;
  height: 3vh;
  font-family: "Neue Montreal Italic";
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 412px) {
  .nameTitle {
    font-size: 15vw;
  }
}
@media (max-width: 820px) {
  .page {
    flex-direction: column;
  }
  .pageOne {
    flex-direction: column;
    height: 175vh;
  }
  .pageOne > section {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
  .sectionLeft {
    height: 80vh !important;
  }
  .sectionRight {
    height: fit-content !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects {
    position: relative;
    width: 100%;
    height: 95vh;
  }
  .nameTitle {
    font-size: 10vw;
    left: 20%;
  }
  .projectTitle {
    font-size: 5vw;
    height: fit-content;
  }
}

/* about font responsiveness */
@media (max-width: 1200px) {
  .about {
    font-size: 2vw;
  }
}
@media (max-width: 820px) {
  .about {
    font-size: 2.5vw;
  }
}
@media (max-width: 640px) {
  .about {
    font-size: 3vw;
  }
}
