.word {
  margin-right: 1vmin;
  display: inline-block;
  color: var(--dark-green);
  font-family: "Acma Light";
}
.imgWrapper {
  position: fixed;
  pointer-events: none;
  height: 20vw;
  width: 20vw;
  mix-blend-mode: luminosity;
  user-select: none;
}
.imgWrapper > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
