.pageWrapper {
  position: absolute;
  z-index: -1;
  min-height: 185vh;
  width: 100vw;
  background-color: var(--light-blue);
  font-family: "Neue Montreal Book";
}
.page1,
.page2 {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}
.page2 {
  height: 90vh;
}
.page1 {
  height: 95vh;
  border-bottom: 1px solid black;
}
/* page 1 styles */
.page1Layout {
  height: 100%;
  width: 100%;
  display: flex;
}
.page1SectionContainer {
  position: relative;
  width: 50%;
  height: 100%;
  border: black 1px solid;
}
.leftContainer {
  display: flex;
  flex-direction: column;
}
.sectionHalf {
  position: relative;
  height: 50%;
  width: 100%;
  display: grid;
  place-items: center;
  border-bottom: 1px solid black;
  overflow: hidden;
}
.mail {
  font-size: 5vw;
  letter-spacing: -0.1rem;
  text-decoration: none;
  color: var(--dark-green);
  mix-blend-mode: luminosity;
}
.footerPosition {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.pos1 {
  position: absolute;
  left: 20%;
  bottom: 5%;
  width: 10%;
  height: 10%;
  min-height: 100px;
  min-width: 100px;
  /* background-color: aqua; */
}
.pos2 {
  position: absolute;
  left: 10%;
  top: 10%;
  min-width: 100px;
  min-height: 100px;
  width: 10%;
  height: 10%;
}
.pos3 {
  position: absolute;
  top: 60%;
  left: 10%;
  width: 25%;
}
.pos4 {
  position: absolute;
  right: 10%;
  top: 40%;
  width: 25%;
}
.pos5 {
  position: absolute;
  right: 20%;
  bottom: 15%;
  min-width: 100px;
  min-height: 100px;
  width: 25%;
  height: 10%;
}
.pos6 {
  position: absolute;
  right: 10%;
  top: 12%;
  width: 25%;
}
.pos7 {
  position: absolute;
  left: 13%;
  top: 40%;
  min-width: 100px;
  min-height: 100px;
  width: 25%;
  height: 10%;
}
