.pageWrapper {
  position: absolute;
  z-index: -1;
  min-height: 185vh;
  width: 100vw;
  background-color: var(--light-blue);
  font-family: "Neue Montreal Book";
}
.page1,
.page2 {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}
.page2 {
  height: 90vh;
}
.page1 {
  height: 95vh;
  border-bottom: 1px solid black;
}
/* page 1 styles */
.page1Layout {
  height: 100%;
  width: 100%;
  display: flex;
}
.page1SectionContainer {
  position: relative;
  width: 50%;
  height: 100%;
  border: black 1px solid;
}
.leftContainer {
  display: flex;
  flex-direction: column;
}
.sectionHalf {
  position: relative;
  height: 50%;
  width: 100%;
  display: grid;
  place-items: center;
  border-bottom: 1px solid black;
  overflow: hidden;
}
.mail {
  font-size: 5vw;
  letter-spacing: -0.1rem;
  text-decoration: none;
  color: var(--dark-green);
  mix-blend-mode: luminosity;
}
.footerPosition {
  position: absolute;
  bottom: 0;
  width: 100%;
}
