.pageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-align: center;
  width: 100vw;
  min-height: 300vh;
  background-color: var(--charcoal);
  color: var(--bright-red);
}
.projectTitle {
  position: absolute;
  left: 0%;
  position: relative;
  font-family: "NikkeiMaru Light";
  text-transform: capitalize;
  letter-spacing: 0.1ch;
  font-size: 3.5vw;
  user-select: none;
}

/* pages */
.pages {
  position: absolute;
  top: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}
