.pageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-align: center;
  width: 100vw;
  height: fit-content;
  color: var(--bright-red);
  background-color: var(--main-theme);
}
.projectTitle {
  position: absolute;
  left: 0%;
  position: relative;
  font-family: "NikkeiMaru Light";
  text-transform: capitalize;
  letter-spacing: 0.1ch;
  font-size: 10vw;
  user-select: none;
}
