.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: height 500ms ease-out, width 500ms ease-out;
  mix-blend-mode: difference;
  pointer-events: none;
}
@media (max-width: 924px) {
  .cursor {
    opacity: 0 !important;
  }
}
