.bubble {
  width: 97.5%;
  height: fit-content;
  padding-bottom: 5%;
  background-color: var(--orange);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
